<!--  TEMPLATE HTML -->		
		<script type="text/template" id="ulTemplate">
			<%_.each(columnList, function(item){ %>
				<li><%= '<%=' %><%= item %><%= '%\>' %></li>
			<%});%>
		</script>
		
		<script type="text/template" id="menu_wrapper">
			<ul id='visible' class="js-sortable">
				<%_.each(columnList, function(item){%>
					<li><%=item %></li>
				<%});%>
			</ul>			
			<ul id='hidden' class="js-sortable">
				<%_.each(columnListHide, function(item){%>
					<li><%=item %></li>
				<%});%>
			</ul>	
		</script>
		
		<script type="text/template" id="rowTitle">	
			<% _.each(columnList, function(item){
				active_up = '';	
				active_down = '';
				if (currData.sortname == item){ 
					if(currData.sortorder == 'desc') {
						active_up = "active"; 
					} else if(currData.sortorder == 'asc') {
						active_down = "active"; 
					}
				} 
				if("client_pb" != item){ %>
					<li id="<%=item%>"> <span class="up <%=active_up%>">&uarr;</span><%=item %><span class="down <%=active_down%>">&darr;</span></li>
				<%} else { %>
					<li id="<%=item%>"> <%=item %></li>
				<%}
			});%>
		</script>

<!--  TEMPLATE HTML -->